# Final packages
RPMS/*
final-rpm-for-harbour-submission/*

# Binaries are created in the project folder (Sailfish SDK doesn't support shadow building yet)
harbour-sailseries
src/harbour-sailseries
tests/tst-harbour-sailseries

# Something Qt Creator generates
debugsources.list
documentation.list
debugfiles.list
debuglinks.list

# object files, makefiles, environment-specific Creator settings
*.o
Makefile
*.pro.user
*.pro.user.*

# other
